.DoctorReqCard{

    width: 300px;
    height: 520px;
    text-align: center;
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid orange;
}

.DoctorReqCard img{

    height: 270px;
    padding: 20px;
}

.DoctorReqCard Button{

    height: 60px;
    background-color: orange;
    margin: 15px;
}

.DoctorReqCard ListGroup{

border: 3px solid orange;
}

.ls{

  
border: 3px solid orange;  
}